.header {
	background: url("../../../public/images/frameService.png") no-repeat center;
	display: block;
	max-width: 100%;
	height: 220px;

	&Wrapper {
		margin: 0 auto;
		max-width: 1200px;
		h1 {
			font-size: 48px;
			color: #fff;
		}
	}
}

.breadCrumb {
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 25px;
	&Wrapper {
		margin-left: -15px;
		display: flex;
	}
}

.description {
    margin: 120px auto 40px auto;
    max-width: 1200px;

    &Text {
        max-width: 500px;
        p{
            font-size: 24px;
        }
    }
}

.services {
    max-width: 1200px;
    margin: 0 auto;

    &Wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap:60px;
        column-gap: 30px;
    }
}

.questions {
	background-image: url("../../../public/images/frame.png");
	margin-top: 120px;
	max-width: 100%;
	height: 300px;

	&Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;

		button {
			margin-top: 53px;
		}
	}
}

@media screen and (max-width: 768px) {

    .header {

		background: url("../../../public/images/frameService.png") no-repeat center;
		height: 100px;
		display: grid;
		align-content: center;
		justify-content: start;

		&Wrapper {
			h1 {
				margin-left: 15px;
				font-size: 28px;
			}
		}
	}

	.breadCrumb {
		margin-left: 15px;
	}

    .description {
        margin: 80px 15px 40px;
        p {
            font-size: 16px;
        }
    }

    .services {
        margin: 0 15px;
        &Wrapper {
            grid-template-columns: 1fr;
        }

        h2 {
            padding-left: 0;
            font-size: 28px;
            line-height: 32px;

            &::before {
                display: none;
            }
        }
    }

    .questions {
		margin-top: 100px;
		height: 264px;

		&Wrapper {
			height: 100%;
			max-width: 1200px;
			margin: 0 auto;
    
      div {
        margin-left: 20px;
      }
			button {
				margin-top: 53px;
			}
		}
	}
}