.header {
	background: url("../../../../public/images/frameService.png") no-repeat center;
	display: block;
	max-width: 100%;
	height: 220px;
	// display: flex;
	// align-items: center;
	// justify-items: flex-start;

	&Wrapper {
		margin: 0 auto;
		max-width: 1200px;
		padding: 60px 0;
		h1 {
			line-height: 55px;
			font-size: 48px;
			color: #fff;
		}
	}
}

.breadCrumb {
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 25px;
	&Wrapper {
		margin-left: -15px;
		display: flex;
	}
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;

	&Wrapper {
		display: grid;
		grid-template-areas: "photo description";
		gap: 100px;
	}

	&WrapperOnce {
		display: grid;
		grid-template-areas: "description";
	}

	&Title {
		margin: 50px 0;

		h2 {
			padding-left: 60px;
			line-height: 55px;
			display: flex;
			align-items: center;
			z-index: 1;

			&::before {
				content: " ";
				position: relative;
				margin-right: 30px;
				margin-left: -60px;
				display: block;
				background-color: var(--primary-color);
				width: 1px;
				height: 35px;
			}
		}
	}

	&Photo {
		grid-area: photo;
		&Wrapper {
			max-width: 600px;
			display: grid;
			align-items: center;
			justify-content: center;
			img {
				max-width: 450px;
				max-height: 450px;
			}
		}

		&Item {
			&Active {
				z-index: 2;
				transition: all 500ms ease-in-out;
				display: block;
				&Image {
					opacity: 1;
					transition: all 500ms ease-in-out;
				}
			}

			&NonActive {
				z-index: 2;
				transition: all 500ms ease-in-out;
				display: none;
				&Image {
					opacity: 0;
					transition: all 500ms ease-in-out;
				}
			}
		}

		&Slider {
			display: flex;
			margin-top: 30px;
			justify-content: center;
			align-items: center;
			column-gap: 40px;
		}
		&ButtonSlider {
			border: none;
		}

		&ButtonSliderActive {
			cursor: pointer;
			border: none;
			width: 20px;
			height: 10px;
			border-radius: 20%;
			background-color: var(--primary-color);
		}

		&ButtonSliderNonActive {
			cursor: pointer;
			border: none;
			width: 20px;
			height: 10px;
			border-radius: 20%;
			background-color: var(--dull-text-color);
		}
	}

	&Description {
		grid-area: description;
		display: grid;
		grid-template-columns: 1fr;

		&Text {
			color: var(--default-color-text);
			font-size: 18px;
		}

		&Button {
			margin-top: 50px;
		}
	}
}

.questions {
	background-image: url("../../../../public/images/frame.png");
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 120px;
	max-width: 100%;
	height: 300px;

	&Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;

		button {
			margin-top: 53px;
		}
	}
}

.slider {
	&Wrapper {
		display: grid;
		justify-content: space-between;
		max-width: 300px;
		gap: 40px;
	}

	&Button {
		&Left {
			width: 100px;
			display: inline-flex;
			justify-content: center;
			transition: all 500ms linear;
			border: none;
			transition: all 500ms linear;
			background-color: var(--secondary-color);
			cursor: pointer;

			&:hover {
				transition: all 500ms linear;
				box-shadow: 2px 2px 6px 1px rgba(226, 87, 48, 0.3);
				transform: scale(1.1);
			}

			img {
				transform: rotate(180deg);
				margin: 5px 0;
			}
		}

		&Right {
			width: 100px;
			display: inline-flex;
			justify-content: center;
			transition: all 500ms linear;
			border: none;
			background-color: var(--secondary-color);
			cursor: pointer;

			&:hover {
				transition: all 500ms linear;
				box-shadow: 2px 2px 6px 1px rgba(226, 87, 48, 0.3);
				transform: scale(1.1);
			}

			img {
				margin: 5px 0;
			}
		}

		&NonActive {
			opacity: 0.5;

			&:hover {
				box-shadow: none;
				transform: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		background: url("../../../../public/images/frameService.png") no-repeat center;
		height: 100px;
		display: grid;
		align-content: center;
		justify-content: start;

		&Wrapper {
			h1 {
				font-size: 26px;
				margin-left: 15px;
				line-height: 28px;
			}
		}
	}

	.breadCrumb {
		margin-left: 15px;
	}

	.content {
		max-width: 100%;
		margin: 0 15px;
		display: grid;

		&Wrapper {
			display: grid;
			grid-template-areas:
				"description"
				"photo";
			gap: 50px;
		}

		&Title {
			margin: 40px 0 10px;

			h2 {
				padding-left: 0;
				font-size: 28px;
				line-height: 32px;
				display: flex;
				align-items: center;
				z-index: 1;

				&::before {
					display: none;
				}
			}
		}

		&Photo {
			grid-area: photo;
			&Wrapper {
				max-width: 600px;
				display: grid;
				align-items: center;
				justify-content: center;
				img {
					max-width: 340px;
					max-height: 340px;
				}
			}

			&Item {
				&Active {
					z-index: 2;
					transition: all 500ms ease-in-out;
					display: block;
					&Image {
						opacity: 1;
						transition: all 500ms ease-in-out;
					}
				}

				&NonActive {
					z-index: 2;
					transition: all 500ms ease-in-out;
					display: none;
					&Image {
						opacity: 0;
						transition: all 500ms ease-in-out;
					}
				}
			}

			&Slider {
				display: flex;
				margin-top: 30px;
				justify-content: center;
				align-items: center;
				column-gap: 40px;
			}
			&ButtonSlider {
				border: none;
			}

			&ButtonSliderActive {
				cursor: pointer;
				border: none;
				width: 20px;
				height: 10px;
				border-radius: 20%;
				background-color: var(--primary-color);
			}

			&ButtonSliderNonActive {
				cursor: pointer;
				border: none;
				width: 20px;
				height: 10px;
				border-radius: 20%;
				background-color: var(--dull-text-color);
			}
		}

		&Description {
			grid-area: description;
			display: grid;
			grid-template-columns: 1fr;

			&Text {
				color: var(--default-color-text);
				font-size: 18px;
				margin-bottom: 30px;
			}
		}
	}

	.questions {
		margin-top: 100px;
		height: 264px;

		&Wrapper {
			height: 100%;
			max-width: 1200px;
			margin: 0 auto;

			div {
				margin-left: 20px;
			}
			button {
				margin-top: 53px;
			}
		}
	}
}
