.breadCrumbs {
  display: inline-flex;
  color: #fff;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-weight: 400;
      font-size: 16px;
      margin: 0 15px;
    }

    img:last-child {
      display: none;
    }
  }
}

.active {
  color: #E25730;
}


@media screen and (max-width: 768px) {
  .breadCrumbs {
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    div {
      a{
        white-space: pre-wrap;
        margin: 0;
      }

    }
  }
}