.header {
	background: url("../../../public/images/frameService.png") no-repeat center;
	display: block;
	max-width: 100%;
	height: 220px;

	&Wrapper {
		margin: 0 auto;
		max-width: 1200px;
		h1 {
			font-size: 48px;
			color: #fff;
		}
	}
}

.breadCrumb {
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 25px;
	&Wrapper {
		margin-left: -15px;
		display: flex;
	}
}

.services {
	max-width: 1200px;
	margin: 0 auto;

	h2 {
		margin: 50px 0;
		padding-left: 60px;
		display: flex;
		align-items: center;
		z-index: 1;

		&::before {
			content: " ";
			position: relative;
			margin-right: 30px;
			margin-left: -60px;
			display: block;
			background-color: var(--primary-color);
			width: 1px;
			height: 35px;
		}
	}

	&Wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 60px;
		column-gap: 30px;
	}
}

.questions {
	background-image: url("../../../public/images/frame.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 120px;
	max-width: 100%;
	height: 300px;

	&Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 1200px;
		margin: 0 auto;

		button {
			margin-top: 53px;
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		background: url("../../../public/images/frameService.png") no-repeat center;
		height: 100px;
		display: grid;
		align-content: center;
		justify-content: start;

		&Wrapper {
			h1 {
				margin-left: 15px;
				font-size: 28px;
			}
		}
	}

	.breadCrumb {
		margin-left: 15px;
	}

	.services {
		margin: 0 15px;
		&Wrapper {
			grid-template-columns: 1fr;
		}

		h2 {
			padding-left: 0;
			font-size: 28px;
			line-height: 32px;

			&::before {
				display: none;
			}
		}
	}

	.questions {
		margin-top: 100px;
		height: 264px;

		&Wrapper {
			height: 100%;
			max-width: 1200px;
			margin: 0 auto;

			div {
				margin-left: 20px;
			}
			button {
				margin-top: 53px;
			}
		}
	}
}
