.button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	transition: all 1s ease;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: none;
	background-color: #242424;
	outline: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: all 1s ease;
	display: flex;
	justify-content: center;

	img {
		transform: rotate(180deg);
	}

	&Hidden {
		opacity: 0;
	}

	&Visible {
		opacity: 0.5;

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
}
